* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #131313;
}

html {
    overflow-x: hidden;
}